---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>祇園だいきち牧場</title>
	</head>
	<body>
		<h1>祇園だいきち牧場</h1>
	</body>
</html>
